:root{
  --grid-columns: 3;
  --grid-rows:    3;
}

.buttons button {

  position: relative;
  left:45%;
  margin: 5px;
  height: 25px;
  background-color: #008CBA; /* Green */
  border: none;
  color: white;

  text-align: center;
  text-decoration: none;


  cursor: pointer;
}



.grid-container {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  padding: 10px;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  visibility: hidden;
  




}


.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  font-size: 5em;
  padding: 1px;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.2s;
}
.grid-item:active {
  
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.grid-item:last-child,
.grid-item:nth-child(8),
.grid-item:nth-child(7) {
  border-bottom: none;
}

.grid-item:first-child,
.grid-item:nth-child(2),
.grid-item:nth-child(3) {
  border-top: none;
}

.grid-item:nth-child(3n + 1) {
  border-left: none;
}

.grid-item:nth-child(3n + 3) {
  border-right: none;
}
#newgame {
visibility: hidden;
position: absolute;
left: 47%;
}

#newgame:active { 
  transform: scale(0.98); 
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
}

form {
  position: absolute;
  left: 45%;
  visibility: hidden;
}

input[type=submit]{
  visibility: hidden;
}

